body {
    text-align: center;
}

#family_member {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #1A237E;
}

button {
    font-family: 'Amatic SC', cursive;
    height: 100px;
    width: 100px;
    font-size: 40px;
    background-color: #F06292;
    color: #D50000;
    border-color: #F06292;
}

img {
    height: 500px;
    width: 350px;
}